#root {
    display: flex;
    flex-flow: column;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    
    .tutorial{
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        gap: 50px;

            .item{
                display: flex;
                flex-flow: column;
                font-family: sans-serif;
                color: grey;
                max-width: 300px;
                img{
                    width: 200px;
                    height: 300px;
                }
            }
        
        }
    }


body{
    background-color: #e1dcc5;
}

